<form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework text-center" novalidate="novalidate"
  [formGroup]="forgotPasswordForm">
  <div class="text-center mb-10 _pd">
    <div class="fadeIn first">
      <img src="http://144.91.79.237:7500/docs/logo.png" id="icon" alt="User Icon">
    </div>
  </div>

  <mat-form-field class="example-full-width _pd mb-4" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ex. pat@example.com" formControlName="email"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
    <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Please Enter a valid email</div>
    </mat-error>
  </mat-form-field>
  <div class="d-flex flex-wrap justify-content-center mb-4 pb-lg-0">
    <button type="submit" id="kt_password_reset_submit" class="btn btn-lg btn-primary fw-bolder me-4" (click)="submit()">
      <span class="indicator-label">Submit</span>
    </button>
  </div>
</form>