<!--begin::Form-->
<form class="form w-100 example-form" [formGroup]="loginForm">
  <!--begin::Heading-->
  <div class="text-center mb-10 _pd">
    <div class="fadeIn first">
      <img src="http://144.91.79.237:7500/docs/logo.png" id="icon" alt="User Icon">
    </div>
  </div>
  <!--end::Heading-->

  <mat-form-field class="example-full-width _pd mb-4" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Ex. pat@example.com" formControlName="email"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
    <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Please Enter a valid email</div>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width _pd mb-4" appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput placeholder="password" formControlName="password"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
    <mat-error *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </mat-error>
  </mat-form-field>

  <div class="text-center">
    <button mat-button class="login_btn" style="margin: 0px 0px 20px 0px" (click)="onSubmit()">Log in</button>
    <!-- begin::Separator  -->
    <div class="text-center text-muted text-uppercase fw-bolder mb-5">or</div>
  </div>

    <div class="fadeIn_first btn btn-danger btn-block">
      <a href="http://144.91.79.237:7500/login_redirect" class="fadeIn_first"><i class="la la-google"></i>
        Sign in with <b>Google</b></a>
    </div>
  <div id="formFooter" class="_pd text-center mt-2">
    <a class="underlineHover" (click)="openForgetPassword()">Forgot Password?</a>
  </div>
</form>