<div class="row g-0 bg-color">
  <!-- begin::Col -->
  <div class="col px-6 py-8 m-2 dashboard-sec box-hightbody">
    <span class="card-header-customer">Total Resource</span><br />
    <span class="card-customer-count">17</span>
    <i class="fa fa-users card-customer-icon resource"></i>
  </div>

  <div class="col px-6 py-8 m-2 dashboard-sec box-hightbody">
    <span class="card-header-customer">In House Resources</span><br />
    <span class="card-customer-count">8</span>
    <i class="fa fa-home card-customer-icon home"></i>
  </div>

  <div class="col px-6 py-8 m-2 dashboard-sec box-hightbody">
    <span class="card-header-customer">Client Side Resources</span><br />
    <span class="card-customer-count">9</span>
    <i class="fa fa-heart card-customer-icon heart"></i>
  </div>

  <div class="col px-6 py-8 m-2 dashboard-sec box-hightbody">
    <span class="card-header-customer">Total Clients</span><br />
    <span class="card-customer-count">2</span>
    <i class="fa fa-user card-customer-icon client"></i>
  </div>
  <div class="col px-6 py-8 m-2 dashboard-sec box-hightbody">
    <span class="card-header-customer">Active Clients</span><br />
    <span class="card-customer-count">2</span>
    <i class="fa fa-comments card-customer-icon activeClient"></i>
  </div>
</div>