table{
    width: 100%;
}
.mat-table{
    margin-left: 2%;
    margin-right: 2%;
}
// ng-container {
//     margin-left: 2%;
//     margin-right: 2%;
// }
.header-div{
    background-color: white;
    // width: 100%;
}
.searchbutton{
    // background-color:#494988;
    border: none;
    background-color: white;
    height: 2rem;
    }

.searchbutton:hover{
    background-color: #CEE5D0;
}
.searchbar{
    border: 1px solid black; 
     height: 3rem;
     
}

.drop-down-list{
    height: 3rem;
    width: 150px;
    border: 1px solid grey;
    

}

