table{
    width: 100%;
}
.mat-table{
    margin-left: 2%;
    margin-right: 2%;
}
// ng-container {
//     margin-left: 2%;
//     margin-right: 2%;
// }
.header-div{
    background-color: white;
    // width: 100%;
}